* {
  color: white;
}

.mainBg {
  background-color: #394053;
}

.secondBg {
  background-color: #7CAE7A;
}

h1 {
  font-family: 'Nerko One', cursive;
}

.form-control:focus {
  border: 4px solid  #7CAE7A;
  box-shadow: none;
}
