.mainBg {
  background-color: #394053;
  color: white;
}

.secondBg {
  background-color: #7CAE7A;
  color: white;
}

h1 {
  font-family: 'Nerko One', cursive;
}

.form-control:focus {
  border: 4px solid  #7CAE7A;
  box-shadow: none;
}

select, select option, .modal {
  color: black;
}

.done {
  opacity: 0.5;
}
