{% extends 'base.html.twig' %}

{% block title %}Modification une tâche{% endblock %}

{% block mainTitle %}Modifier une tâche{% endblock %}

{% block body %}
    <h2 class="h3 mb-3 font-weight-normal">Description actuelle de la tâche à réaliser :</h2>

    {{ include('task/_form.html.twig') }}

    <a class="btn btn-warning my-2" href="{{ path('project_show', {id:task.project.id}) }}"> <= Retour au projet</a>
{% endblock %}
