{% extends 'base.html.twig' %}

{% block title %}Modification de projet{% endblock %}

{% block mainTitle %}Modifier un projet{% endblock %}

{% block body %}
    <h2 class="h3 mb-3 font-weight-normal">Informations actuellement enregistrées</h2>

    {{ include('project/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('project_index') }}"> <= Retour aux projets</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
