{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block mainTitle %}Démarrrer un nouveau projet{% endblock %}

{% block body %}
    <h2 class="h3 mb-3 font-weight-normal">Merci d'indiquer les informations suivantes</h2>

    {{ include('project/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('project_index') }}"> <= Retour aux projets</a>
{% endblock %}
